/********************
YOUR STYLES
*******************/


body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0 auto;
    width: 60%;
}

section{
    margin-top: 500px;
    margin-left: 500px;
}

h2 {
    font-size: 1.25em;
    color: white;
}
.city {
font-size: 2em;
    margin-bottom: 15px;
}

.day {
    margin: 0;
    color: white;
    font-size: 2em;
}

h1 {
    font-size: 6.5em;
    margin-top: 0px;
    color: white;
}
h3 {
    color: white;
    size: 3em;
}

.sunny {
background: #FFEFBE; 
background: linear-gradient(to right, #314755 , #FFEFBE); 
}

.cloudy {
background: #A2A7A5; 
background: linear-gradient(to right, #314755 , #A2A7A5);  
}

.rainy {
background: #005C69; 
background: linear-gradient(to right, #314755 , #005C69);
}



